 .main-container {
    background-color: rgba(0, 0, 0, 0.863);
    min-height: 65vh;
    color: black;
    margin-top: 20px;
    padding: 12px;
    padding-bottom: 16px;
    border-radius: 0px;
    border: none;
}
.blog-main-header {
    background-color: purple;
    white-space: nowrap;
}
.blog_header_first_child {
    min-width: 18%;
}

.blog-main-header  h2 {
    line-height: 32px;
    letter-spacing: 1px;  
    color: white;

}
.line-through-light{
    border: 1px solid white;
    position: relative;
    bottom: 0px;
    margin-top: 40px;
    margin-right: 30px;
}
.line-through-dark{
    border: 1px solid rgba(177, 46, 46, 0.671);
    position: absolute;
    width: 100%;
    bottom: 0px;
    margin-top: 40px;
    margin-right: 30px;
    margin-bottom: 5px;
    border-radius: 12px;
} 
.blog_header h3 {
    line-height: 36px;
    margin-left: 10px;
}
.blog_body p {
    line-height: 26px;
    letter-spacing: 1px;
    font-size: 16px;
}
.category_date small {
    font-size: 11px;
}
.img_holder {
    width: 100%;
    min-height: 380px;
    max-height: 400px;
    overflow: hidden;
}
.headline_holder h4 {
    line-height: 34px;
    text-transform: uppercase;
    text-align: left;
}
.headline_holder h4:hover {
    text-decoration: underline;
}
.headline_holder h6 {
    height: 46px;
    overflow: hidden;
    text-overflow: hidden;
    line-height: 24px;
    text-transform: uppercase;
    text-align: left;
}
.headline_holder h6:hover {
    text-decoration: underline;
}
.headline_holder a{
    text-decoration: underline;
}
.img_holder_child {
    margin-top: 6px;
    max-height: 160px;
    overflow: hidden;
    min-height: 160px;
}
.img_holder_child  img {
    border-radius: 4px;
}