.blog_body_container {
    width:440px ;
    background: linear-gradient(rgba(0, 0, 0, 0.911),rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.884));
}
.main-container {
    background: linear-gradient(rgba(0, 0, 0, 0.911),rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.884));
}
.blog-main-header  h2 {
    line-height: 32px;
    letter-spacing: 1px;  
}
.blog_header h5 {
    color: orange;
    line-height: 32px;
    letter-spacing: 1px;
}
.blog_body p {
    line-height: 26px;
    letter-spacing: 1px;
    font-size: 14px;
}