.blog_body_container {
    width:440px ;
    background: linear-gradient(rgba(217, 212, 212, 0.911),rgba(235, 230, 230, 0.87), rgba(225, 219, 219, 0.884));
}
.main-container {
    background: whitesmoke;
    min-height: 100vh;
    color: black;
}
.blog-main-header {
    /* background: linear-gradient(rgba(217, 212, 212, 0.911),rgba(235, 230, 230, 0.87), rgba(225, 219, 219, 0.884)); */
    background-color: purple;
}
.blog-main-header  h2 {
    line-height: 32px;
    letter-spacing: 1px;  
    color: white;
}
.blog_header h5 {
    line-height: 32px;
    letter-spacing: 1px;
}
.blog_body p {
    line-height: 26px;
    letter-spacing: 1px;
    font-size: 14px;
}
.category_date small {
    font-size: 11px;
}