@media only screen and (min-width: 600px) {
    .article_container {
        width: 70%;
    }
}
.article_img img {
    width: 420px;
}
.article_body {
    position: static;
}
.side_btn {
    position: absolute;
    right: -55px;
    margin-top: -55px;
}
.side_btn_1 {
    position: absolute;
    left: -55px; 
}
.article_body p{
     letter-spacing: 2px;
    line-height: 36px;
}