footer {
    position: relative;
    left: 0;
    width: 100%;
    bottom: 0;
    padding: 32px;
}
p {
    color: white;
}
hr {
    color: whitesmoke;
}
footer a {
    text-decoration: none;
    margin-top: 8px;
}
footer a:hover {
    text-decoration: underline;
}