* {
  font-size: 18px;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
  color: darkorange;
  cursor: pointer;
}
.blog-main-header {
  width: 100vw;
  background-color: darkorange;
}
.image_body {
  overflow: hidden;
  height: 160px;
  border: 1px solid lightgray;
}
.blog_header {
  height: 68px;
  white-space: wrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.blog_header p {
  line-height: 32px;
}
.blog_body {
  height: 60px;
  overflow: hidden;
}
.blog_body_container {
  min-width: 240px;
}
.blog_page_body {
  min-height: 100vh;
}